{% extends 'layout/basic.html' %}
{% load static category %}

{% block title %}首页{% endblock %}
{% block css %}
{% endblock %}
{% block content %}



    <div class="container" style="margin-top: 80px;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">
                    <h1>
                        Hello, {{ request.tracer.username }}
                    </h1>
                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout
                        called the hero unit and three supporting pieces of content. Use it as a starting point to
                        create something more unique.
                    </p>

                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="page-header">
                            <h1>
                                最新文章 <small>Subtext for header</small>
                            </h1>
                        </div>
                        <div class="row">


                            {% for post in posts %}

                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img height="10px" alt="300x200" src="{{ post.picture.url }}"/>
                                    <div class="caption">
                                        <h3>
                                            <a href="#">{{ post.title }}</a>
                                        </h3>
                                        <p>
                                            {{ post.desc }}
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="{% url 'post_detail' post.category.id post.id %}">查看</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <div class="page-header">
                            <h1>
                                我的文章 <small>Subtext for header</small>
                            </h1>
                        </div>
                        {% for my_p in my_post %}
                        <h2>
                            {{ my_p.title }}
                        </h2>
                        <p>
                            {{ my_p.desc }}
                        </p>
                        <p>
                            <a class="btn" href="{% url 'post_detail' my_p.category.id my_p.id %}">View details »</a>
                        </p>
                        {% endfor %}
                     <a class="btn btn-primary" href="{% url 'user_post' %}">查看更多</a>
                    </div>
                    <div class="col-md-6 column">
                        <div class="page-header">
                            <h1>
                                我的收藏 <small>Subtext for header</small>
                            </h1>
                        </div>
                        {% for my_c in my_collect %}
                        <h2>
                            {{ my_c.title }}
                        </h2>
                        <p>
                            {{ my_c.desc }}
                        </p>
                        <p>
                            <a class="btn" href="{% url 'post_detail' my_c.category.id my_c.id %}">View details »</a>
                        </p>
                        {% endfor %}
                        <a class="btn btn-primary" href="{% url 'user_collection' %}">查看更多</a>

                    </div>
                </div>
            </div>

        </div> <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
		</div>


        </div>
    </div>



{% endblock %}