{% extends 'layout/basic.html' %}
{% load static category %}

{% block title %}分类页{% endblock %}
{% block css %}
    <style>
        .jumbotron{
            background-image: url({{ category.category_pic.url }});
            background-repeat: repeat;
            background-size: contain;
        }
        .j2{
            padding-top: 1px;
            padding-left: 20px;
            height: 150px;
            width: 350px;
            background-color:rgba(0,0,0,0.5);
            color: #c7ddef
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 80px;">
        <div class="row clearfix">
            <div class="col-md-8 column">
                <div class="jumbotron">

                    <div class="j2">
                    <h1>
                        {{ category }}
                    </h1>
                    <p>
                        {{ category.desc}}
                    </p>
                    </div>

                    <p>
{#                        <a class="btn btn-primary btn-large" href="#">Learn more</a>#}
                    </p>
                </div>
                {% for post in page_obj %}
                    <h2>
                        {{ post.title }}
                    </h2>
                    <p>
                        {{ post.desc}}
                    </p>
                    <p>
                        <a class="btn" href="{% url 'post_detail' category.id post.id %}">passage details »</a>
                    </p>
                {% endfor %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}


                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">Next page</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
            <div class="col-md-4 column">
                {% block right %}
                    {% get_sidebar_list as sidebar_list %}
                    {% for sidebar in sidebar_list %}
                        <div>
                            <h3>{{ sidebar.title }}</h3>
                            <p>{{ sidebar.get_content | safe }}</p>

                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock %}