{% extends 'layout/basic.html' %}
{% load static category %}
{% block title %}个人收藏{% endblock %}
{% block css %}

{% endblock %}
{% block content %}

<div class="container" style="margin-top: 80px;">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					我的收藏 <small>Subtext for header</small>
				</h1>
			</div>
            {% for passage in my_collect %}
			<h2>
                {{ passage }}

			</h2>
			<p>
				{{ passage.desc }}
			</p>
			<p>
				 <a class="btn" href="{% url 'post_detail' passage.category.id passage.id %}">View details »</a>
			</p>
             {% endfor %}
		</div>

	</div>
</div>


{% endblock %}
