{#{% extends 'layout/basic.html' %}#}
{#{% load static category %}#}
{#{% block title %}个人中心{% endblock %}#}
{#{% block css %}#}
{##}
{#{% endblock %}#}
{#{% block content %}#}
{##}
{#<div class="container" style="margin-top: 80px;">#}
{#	<div class="row clearfix">#}
{#		<div class="col-md-2 column">#}
{#			<div class="row clearfix">#}
{#				<div class="col-md-12 column">#}
{#					<img alt="140x140" src="{{ user.image.url }}" class="img-thumbnail" />#}
{#				</div>#}
{#				<div class="col-md-12 column">#}
{#					<h2>#}
{#                        {{ user.username }}#}
{#					</h2>#}
{#				</div>#}
{#			</div>#}
{#            <br>#}
{#			<div class="panel panel-default">#}
{#				<div class="panel-heading">#}
{#					<h3 class="panel-title">#}
{#                        个人信息#}
{#					</h3>#}
{#				</div>#}
{#				<div class="panel-body">#}
{#					收藏#}
{#				</div>#}
{#				<div class="panel-footer">#}
{#					Panel footer#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#		<div class="col-md-10 column">#}
{#			<dl class="dl-horizontal">#}
{#                <dt>#}
{#					username#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.username }}#}
{#				</dd>#}
{#				<dt>#}
{#					mobile_phone#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.mobile_phone }}#}
{#				</dd>#}
{#				<dt>#}
{#					brithday#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.birthday }}#}
{#				</dd>#}
{##}
{#				<dt>#}
{#                    email#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.email }}#}
{#				</dd>#}
{#				<dt>#}
{#					gender#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.gender }}#}
{#				</dd>#}
{#                <dt>#}
{#					address#}
{#				</dt>#}
{#				<dd>#}
{#					{{ user.address }}#}
{#				</dd>#}
{#			</dl> <button type="button" class="btn btn-default btn-info btn-block">修改</button>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
{##}
{##}
{#{% endblock %}#}