<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <style>
        .account{
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="account">
        <h1 style="text-align: center;" >注册</h1>
        <form>
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0;">{{ field }}</div>
                            <div class="col-md-6"><input type="button" class="btn btn-default" value="获取验证码"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">注 册</button>
        </form>
    </div>


</body>
</html>